body {
  font-family: Tango;
  margin: 0;
  background: #f5f5f5;
  color: #333;
}

/* HEADER */
header {
  background: #111;
  color: white;
  text-align: center;
  padding: 30px;
}

nav {
  background: #e91e63;
  text-align: center;
  padding: 15px;
}

nav a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* CATÁLOGO */
.catalogo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  background: white;
  width: 250px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  text-align: center;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.precio {
  font-size: 20px;
  font-weight: bold;
  color: #c2185b;
  margin: 10px 0;
}

/* BOTÓN BONITO */
.btn-comprar {
  display: block;
  background: linear-gradient(135deg, #e91e63, #c2185b);
  color: white;
  padding: 12px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-comprar:hover {
  background: linear-gradient(135deg, #c2185b, #880e4f);
  transform: scale(1.05);

}



