body {
  font-family: Tango;
  margin: 10px;
  background: #f5f5f5;
  color: #171516;
}

/* HEADER */
header {
  background: #111;
  color: white;
  text-align: center;
  padding: 30px;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  letter-spacing: 1px;
}

nav {
  background: #e91e63;
  text-align: center;
  padding: 15px;
}

nav a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* CATÁLOGO */
.catalogo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  background: white;
  width: 250px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  text-align: center;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

/* IMÁGENES CON MINIATURAS */
.img-principal {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.contenedor-miniaturas {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.miniatura {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid #eee;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.miniatura:hover {
  border-color: #e91e63;
}

/* PRECIO */
.precio {
  font-size: 30px;
  font-weight: bold;
  color: #c2185b;
  margin: 10px 0;
}

/* BOTÓN AGREGAR */
.btn-agregar {
  display: block;
  background: linear-gradient(135deg, #e91e63, #c2185b);
  color: white;
  padding: 12px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.btn-agregar:hover {
  background: linear-gradient(135deg, #c2185b, #880e4f);
  transform: scale(1.05);
}

/* CARRITO */
.cart {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

/* BOTÓN FLOTANTE CARRITO */
.carrito-float {
  position: fixed;
  top: 20px;
  right: 20px;

  width: 55px;
  height: 55px;

  background: #e91e63;
  color: white;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: 22px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  z-index: 9999;
}

/* Contador */
.carrito-float span {
  position: absolute;
  top: -6px;
  right: -6px;
  background: black;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}

.carrito-float span {
  background: black;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 14px;
  margin-left: 6px;
}












